@{
    ViewData["Title"] = "Product List";
    var productNames = ViewBag.ProductNames as List<string>;
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">재고 상세</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/index">메인 페이지</a></li>
            <li class="breadcrumb-item active">재고 상세 페이지</li>
        </ol>
        <div class="container-fluid px-4">

            <div class="card mb-4">
                
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    </div>
                    <div class="mb-3">
                        <label for="defaultInput" class="form-label">　수정할 상품명 조회</label>
                        <form  class="d-flex" action="/product/detail" method="post">
                        <div class="input-group">
                            <input type="text" id="inputBox" name="productname" class="form-control inputBox:hover" placeholder="Product Name Search">
                            <button class="btn btn-outline-info" onclick="sendRequest()"> 조회 </button>
                        </div>
                            <div id="dropdown" style="position:absolute; width:90%; background-color:white; border:1px solid #ccc;  z-index:1; display: none;"></div>
                        </form>


                            <script>
                                /*
                                function sendRequest() {
                                    var httpRequest = new XMLHttpRequest();
                                    httpRequest.onreadystatechange = function () {
                                        if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                                            // 받아온 데이터를 화면에 그리는 부분
                                            document.getElementById("text").innerHTML = httpRequest.responseText;
                                        }
                                    };
                                    // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
                                    httpRequest.open("GET", "서버 URL 쓰는 부분", true);
                                    httpRequest.send();
                                }
                                */

                                //-----------------비동기 연결

                            $(document).ready(function () {
                                const inputBox = $("#inputBox");
                                const dropdown = $("#dropdown");

                                inputBox.hover(function () {
                                    showDropdown();
                                }, function () {
                                    hideDropdown();
                                });

                                dropdown.hover(function () {
                                    showDropdown();
                                }, function () {
                                    hideDropdown();
                                });

                                function showDropdown() {
                                    dropdown.show();
                                }

                                function hideDropdown() {
                                    dropdown.hide();
                                }

                                // 이 부분에 사용 가능한 값(옵션)을 불러오는 코드를 추가해야 합니다.

                                var modelData = @Html.Raw(Json.Serialize(Model));
                                const list = [];

                                console.log("확인 : " + modelData[0]);
                                for (var i = 0; i < modelData.length; i++) {
                                    var model = modelData[i];
                                    list[i] = modelData[i];
                                }

                                console.log("List : ",list);
                                
                                const availableValues = ["Option 1", "Option 2", "Option 3", "Option 4", "Option 5"];
                                //const availableValues = modelData;

                                inputBox.on("input", function () {
                                    const inputText = inputBox.val().toLowerCase();
                                    const filteredValues = list.filter(value => value.toLowerCase().includes(inputText));

                                    if (filteredValues.length > 0) {
                                        dropdown.html("");
                                        filteredValues.forEach(value => {
                                            const option = $("<div class='option'>" + value + "</div>");
                                            option.click(function () {
                                                inputBox.val(value);
                                                hideDropdown();
                                            });
                                            dropdown.append(option);
                                        });
                                        showDropdown();
                                    } else {
                                        hideDropdown();
                                    }
                                });
                            });
                            
                            
                            </script>
                            

                        <!--</form> -->
                        <div class="datatable-container">

                            <div class="card-body">
                                조회 상품
                            </div>
                            <table id="datatablesSimple" class="datatable-table">

                                <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 20%;">상품 번호</th>
                                        <th data-sortable="true" style="width: 20%;">상품 이름</th>
                                        <th data-sortable="true" style="width: 20%;">가격</th>
                                        <th data-sortable="true" style="width: 20%;">유통기한</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    <tr data-index="0">
                                        <td><div id="ProductID">@productNames</div></td>
                                        <td><div id="ProductName">바로 위 bag</div></td>
                                        <td><div id="ProductPrice"> </div></td>
                                        <td><div id="ProductExp"></div></td>
                                    </tr>

                                </tbody>

                            </table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>
