
@model _3gim.Models.Product

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">상품 수정</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/index">메인 페이지</a></li>
            <li class="breadcrumb-item active">상품 수정 페이지</li>
        </ol>
        <div class="container-fluid px-4">

            <div class="card mb-4">
                <div class="card-header">
                    <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                    상품 정보 수정
                </div>
                <div class="card-body">
                    <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    </div>
                    <div class="mb-3">
                        <label for="defaultInput" class="form-label">　수정할 상품명 조회</label>
                        <form class="d-flex">
                            <div class="input-group">
                                <span class="input-group-text"><i class="tf-icons bx bx-search"></i></span>
                                <input type="text" name="productname" class="form-control" placeholder="Product Name Search..">
                                <button class="btn btn-outline-info" onclick="sendRequest()"> 조회 </button>
                            </div>
                        </form>
                        <div class="datatable-container">

                            <div class="card-body">
                                조회 상품
                            </div>
                            <table id="datatablesSimple" class="datatable-table">

                                <thead>
                                    <tr>
                                        <th data-sortable="true" style="width: 20%;">상품 번호</th>
                                        <th data-sortable="true" style="width: 20%;">상품 이름</th>
                                        <th data-sortable="true" style="width: 20%;">가격</th>
                                        <th data-sortable="true" style="width: 20%;">유통기한</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr data-index="0">
                                        <td><div id="ProductIDEdit"></div></td>
                                        <td><div id="ProductNameEdit"></div></td>
                                        <td><div id="ProductPriceEdit"></div></td>
                                        <td><div id="ProductExpEdit"></div></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <form method="post" id="removeEdit">

                            <div clsaa="card-body">

                                <h3>수정할 정보</h3>

                                <ul>
                                    <li>
                                        상품 번호
                                        <div class="input-group">
                                            <input class="form-control" name="ProductID" id="ProductIDEdit" type="text" placeholder="원래 상품 번호">
                                        </div>
                                    </li>
                                    <br />
                                    <li>
                                        상품명
                                        <div class="input-group">
                                            <input class="form-control" name="ProductName" id="ProductNameEdit" type="text" placeholder="원래 상품 이름">
                                        </div>
                                    </li>
                                    <br />
                                    <li>
                                        상품 가격
                                        <div class="input-group">
                                            <input class="form-control" name="ProductPrice" id="ProductPriceEdit" type="text" placeholder="원래 가격">
                                        </div>
                                    </li>
                                    <br />
                                    <li>
                                        유통 기한
                                        <div class="input-group">
                                            <input class="form-control" name="ProductExp" id="ProductExpEdit" type="text" placeholder="원래 유통기한">
                                        </div>
                                    </li>
                                    <br />

                                </ul>

                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <button class="btn btn-secondary" onclick="/product/edit">수정하기</button>
                                </div>
                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                    <input id="delButton" type="button" onclick="delEdit()" class="btn btn-danger" value="삭 제" placeholder="삭 제">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

<script>
    function delEdit() {
        if (confirm("정말 삭제하시겠습니까??") == true) {    //확인
            return Redirect("/product/delete");

        } else {   //취소

            return false;
        }
    }
    function sendRequest() {
        var httpRequest = new XMLHttpRequest();
        httpRequest.onreadystatechange = function () {
            if (httpRequest.readyState == XMLHttpRequest.DONE && httpRequest.status == 200) {
                console.log(httpRequest.responseText);
                var res = JSON.parse(httpRequest.responseText)

                document.getElementById("ProductIDEdit").innerHTML = res.ProductID
                document.getElementById("ProductNameEdit").innerHTML = res.ProductName
                document.getElementById("ProductPriceEdit").innerHTML = res.ProductPrice
                document.getElementById("ProductExpEdit").innerHTML = res.ProductExp

                document.getElementById("text").innerHTML = httpRequest.responseText;
            }
        };
        // GET 방식으로 요청을 보내면서 데이터를 동시에 전달함.
        httpRequest.open("GET", "/product/read?ProductName=1", true);
        httpRequest.send();
    }

</script>