@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">입고 출력</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="index.html">Dashboard</a></li>
            <li class="breadcrumb-item active">Tables</li>
        </ol>
        <div class="card mb-4">
            <div class="card-body">
                이 곳은 입고를 확인하는 곳입니다
                <a target="_blank" href="https://datatables.net/"></a>
                .
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                <i class="fas fa-table me-1"></i>
                입고 출력
            </div>
            <div class="card-body">
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="datatable-top">
                        <div class="datatable-dropdown">
                            <label>
                                <select class="datatable-selector"><option value="5">5</option><option value="10" selected="">10</option><option value="15">15</option><option value="20">20</option><option value="25">25</option></select> entries per page
                            </label>
                        </div>
                        <div class="datatable-search">
                            <!--<input class="datatable-input" placeholder="Search..." type="search" title="Search within table" aria-controls="datatablesSimple">-->
                        </div>
                    </div>
                    <div class="datatable-container"><table id="datatablesSimple" class="datatable-table"><thead><tr><th data-sortable="true" style="width: 33.33333333333333%;"><a href="#" class="datatable-sorter">상품 이름</a></th><th data-sortable="true" style="width: 33.33333333333333%;"><a href="#" class="datatable-sorter">주문 수량</a></th><th data-sortable="true" style="width: 33.33333333333333%;"><a href="#" class="datatable-sorter">생산 날짜</a></th></tr></thead><tbody><tr data-index="0"><td>몰라</td><td>몰라</td><td>몰라</td></tr></tbody></table></div>
                    <div class="datatable-bottom">
                        <div class="datatable-info">Showing 1 to 1 of 1 entries</div>
                        <nav class="datatable-pagination"><ul class="datatable-pagination-list"></ul></nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>