

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<_3gim.Models.Product>

<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">상품 등록</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/index">메인 페이지</a></li>
            <li class="breadcrumb-item active">상품 등록 페이지</li>
        </ol>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">상품 등록</h3>
                    </div>

                    <div class="card-body">

                        <form action="/product/regist" method="post">
                            <div class="row mb-3">
                                <div class="form-floating mb-3">
                                    <input class="form-control" name="ProductName" id="ProductName" type="text" placeholder="Enter Product Name">
                                    <label for="ProductName">　상품 이름</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" name="ProductPrice" id="ProductPrice" type="text" placeholder="Enter Product Price">
                                    <label for="ProductPrice">　상품 가격</label>
                                </div>
                                <div class="form-floating mb-3">
                                    <input class="form-control" name="ProductExp" id="ProductExp" type="text" placeholder="Enter Product Exp">
                                    <label for="ProductExp">　유통 기한</label>
                                </div>
                            </div>
                            <div class="mt-4 mb-0">
                                <div class="d-grid"><button class="btn btn-primary btn-block">상품 등록하기</button></div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="container-fluid px-4">

        <div class="card mb-4">
            <div class="card-header">
                <svg class="svg-inline--fa fa-table me-1" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="table" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg=""><path fill="currentColor" d="M64 256V160H224v96H64zm0 64H224v96H64V320zm224 96V320H448v96H288zM448 256H288V160H448v96zM64 32C28.7 32 0 60.7 0 96V416c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V96c0-35.3-28.7-64-64-64H64z"></path></svg><!-- <i class="fas fa-table me-1"></i> Font Awesome fontawesome.com -->
                등록된 상품 목록
            </div>
            <div class="card-body">
                <div class="datatable-wrapper datatable-loading no-footer sortable searchable fixed-columns">
                    <div class="datatable-top">
                    </div>
                    <div class="datatable-container">
                        <table id="datatablesSimple" class="datatable-table">
                            <thead>
                                <tr>
                                    <th data-sortable="true" style="width: 33.333333%;"><a href="#" class="datatable-sorter">상품 이름</a></th>
                                    <th data-sortable="true" style="width: 33.333333%;"><a href="#" class="datatable-sorter">상품 가격</a></th>
                                    <th data-sortable="true" style="width: 33.333333%;"><a href="#" class="datatable-sorter">유통 기한</a></th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null)
                                {
                                    int i = 1;
                                    foreach (var product in Model)
                                    {
                                        <tr data-index="@i">
                                            <td>@product.ProductName</td>
                                            <td>@product.ProductPrice</td>
                                            <td>@product.ProductExp</td>
                                        </tr>
                                        i++;
                                    }
                                }
                                else
                                {
                                    <tr data-index="0">
                                        <td>-</td>
                                        <td>-</td>
                                        <td>-</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="datatable-bottom">
                        <div class="datatable-info"></div>
                        <nav class="datatable-pagination">
                            <ul class="datatable-pagination-list"></ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>


</main>