

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<main>
    <div class="container-fluid px-4">
        <h1 class="mt-4">상품 등록</h1>
        <ol class="breadcrumb mb-4">
            <li class="breadcrumb-item"><a href="/home/index.html">메인 페이지</a></li>
            <li class="breadcrumb-item active">상품 등록 페이지</li>
        </ol>
        <div class="row justify-content-center">
            <div class="col-lg-7">
                <div class="card mb-4">
                    <div class="card-header">
                        <h3 class="text-center font-weight-light my-4">상품 등록</h3>
                    </div>

                    <div class="card-body">

                        <form action="/product/regist" method="post">
                            <div class="row mb-3">
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="ProductName" id="ProductName" type="text" placeholder="Enter your first name">
                                        <label for="inputFirstName">상품 이름</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="ProductPrice" id="ProductPrice" type="text" placeholder="Enter your last name">
                                        <label for="inputLastName">상품 가격</label>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-floating mb-3 mb-md-0">
                                        <input class="form-control" name="ProductExp" id="ProductExp" type="text" placeholder="Enter your last name">
                                        <label for="inputLastName">유통기한</label>
                                    </div>
                                </div>
                            </div>

                            <div class="mt-4 mb-0">
                                <div class="d-grid"><button class="btn btn-primary btn-block">상품 등록하기</button></div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>



</main>