@{
    ViewData["Title"] = "Home Page";
}


<main>
    <div class="container-fluid px-5">
        <h1 class="mt-5">Main</h1>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div style="text-align:center" class="card-header">양품 갯수</div>
                    <div style="text-align:center" class="card-body"><p id="Supplies">0</p></div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div style="text-align:center" class="card-header">불량품 갯수</div>
                    <div style="text-align:center" class="card-body"><p id="Defects">0</p></div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div style="text-align:center" class="card-header">실시간 온도</div>
                    <div style="text-align:center" class="card-body"><p id="temperature">0</p></div>
            </div>
        </div>
        <div class="container row" style="float: none; margin: auto;">
            <div class="col-xl-15" style="float: none; margin:0 auto">
                <div class="card mb-4">

                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        진행상황(CPS)

                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>

<script src="https://cdnjs.cloudflare.com/ajax/libs/microsoft-signalr/6.0.1/signalr.js"></script>

<script>
    var connection = new signalR.HubConnectionBuilder().withUrl("/TempHub").build();

    connection.on("ReceiveTemp", function (temp) {
        document.getElementById("temperature").innerHTML = temp + "C";
    });

    connection.start().then(function () {
        console.log("연결 성공");
    }).catch(function (err) {
        console.log("연결 실패 : " + err.toString());
    });

</script>

