@{
    ViewData["Title"] = "Home Page";
}


<main>
    <div class="container-fluid px-5">
        <h1 class="mt-5">Main</h1>

        <div class="row">
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">양품 갯수</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">불량품 갯수</div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-md-6">
                <div class="card bg-dark text-white mb-4">
                    <div class="card-header">
                        실시간 온도  
                        <button class="btn btn-dark">Up</button> 
                        <button class="btn btn-dark">Down</button>
                        <a href="#">More</a>
                    </div>
                    <div class="card-body">
       
                </div>
            </div>
        </div>
        <div class="container row" style="float: none; margin: auto;">
            <div class="col-xl-15" style="float: none; margin:0 auto">
                <div class="card mb-4">

                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        진행상황(CPS)

                    </div>
                    <div class="card-body">
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</main>



